
AWS_REGION=us-east-1


COGNITO_USER_POOL_ID=us-east-1_XXXXXXXXX
COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxx


DYNAMO_EVENTS_TABLE=dayflow-events
DYNAMO_USERS_TABLE=dayflow-users
DYNAMO_TASKS_TABLE=dayflow-tasks



WEATHER_API_KEY=your_openweathermap_api_key


SNS_TOPIC_ARN=
SES_FROM_EMAIL=no-reply@dayflowai.example

# CORS
CORS_ORIGINS=http://localhost:5173,http://localhost:3000
